
.navbar-nav .nav-link {
    color: rgb(155, 157, 156);
    padding-right: 50%;
    padding-left: 90%;
}

.card-group {
    max-width: 1200px;
    margin: 0 auto;
    margin-right: 80px;
}

.card {
    margin: 0 auto;
    width: 22rem;

}

#formulario {
    max-width: 800px;
    /* ancho máximo para el contenedor */
    margin: 0 auto;
    /* Centramos el contenedor horizontalmente */
    margin-bottom: 0%;
}

#btnEnviar {
    background-color: rgb(150, 201, 62);
    width: 98%;
    color: white;
    margin: 0 auto;
    margin-top: 2%;
}

#btnEnviar:hover {
    background-color: rgb(128, 171, 53);
}

.subrayado-puntos {
    text-decoration: underline dotted;
}

#footer {
    color: white;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;

}

#pos {
    background-color: rgb(53, 58, 64);
    color: white;
    font-size: x-large;
    display: flex;
    align-items: center;
}



#selec:hover {
    color: white;
}

#selec2 {
    color: rgb(42, 163, 69);
}

#selec2:hover {
    color: rgb(31, 135, 55);
}


.oscurecer-img {
    filter: brightness(50%);
}

#btnComprar {
    background-color: rgb(39, 168, 68);
    color: white;
}

#btnComprar:hover {
    background-color: rgb(31, 135, 55);
}

#react {
    background-color: rgb(23, 162, 185);
}


#Afoto {
    --bs-gutter-x: 0;
    color: white;
}


.my-image {
    width: 100%;
}

#acFot {
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#acFot:hover {
    background-color: rgb(28, 66, 89);
}

#txtCarrusel {
    text-align: right;
    align-items: end;
    display: flex;
    width: 500px;
    position: absolute;
    top: 30%;
    left: 55%;
}

#contenedor {
    overflow: hidden;
    position: relative;
}


.carousel-inner {
    height: 630px;
}

.descuento{
    width: 60%;
    margin: auto;
    
    align-items: center;
    
}


#cartitas{
    background-color: white;
    color: black;
    border-radius: 0.25rem;
    
}

#txtCarta{
    height: 3.5rem;
    font-size: 1.3rem;
    justify-content: center;
    align-items: center;
    display: flex;
}

#nextCarrusel{
    width: 12rem;
}

